<nav>
    <ul>
        <li><a href="#" class="logo">   
        </a></li>
        <br>
        <br>
        <div class="all-nav">
        <div class="">
        <div class="tableau-bord">
        <li><a href="#">
          <i class="fas fa-user-tag"></i>
            <span class="nav-item1">Tableau de bord</span>
            <li><a href="#">
                <i class="fas fa-home"></i>
                <span class="nav-item">Tréserorie</span>
            </a></li>
            <li><a href="">
                <i class="fas fa-user-tag"></i>
                <span class="nav-item">Projets</span>
              </a></li>
        </a></li>
        </div>
      </div>
      <br>
        <div class="operations">
        <li><a href="">
            <i class="fas fa-user"></i>
            <span class="nav-item1">OPERATIONS</span>
        </a></li>
        <li><a href="">
            <i class="fas fa-tasks"></i>
            <span class="nav-item">Entreprise</span>
          </a></li>          
        <li><a href="">
            <i class="fas fa-user"></i>
            <span class="nav-item">Section</span>
        </a></li>
        <li><a href="">
          <i class="fas fa-user"></i>
          <span class="nav-item">Clients</span>
      </a></li>
        <li><a href="">
            <i class="fas fa-tasks"></i>
            <span class="nav-item">Pro Ticktets</span>
          </a></li>          
        <li><a href="">
            <i class="fas fa-user"></i>
            <span class="nav-item">Sav Ticktets</span>
        </a></li>
    </div>
    <br>
    <div class="">
        <li><a href="">
            <i class="fas fa-tasks"></i>
            <span class="nav-item1">PRODUITS</span>
          </a></li>          
        <li><a href="">
            <i class="fas fa-user"></i>
            <span class="nav-item">Produits</span>
        </a></li>
        <li><a href="">
            <i class="fas fa-tasks"></i>
            <span class="nav-item">Immobilisations</span>
          </a></li>          
        <li><a href="">
            <i class="fas fa-tasks"></i>
            <span class="nav-item">Warehouse</span>
          </a></li>  
        </div>  
        <br>      
        <div class="">
        <li><a href="">
            <i class="fas fa-tasks"></i>
            <span class="nav-item1">TRANSSACTIONS</span>
          </a></li>          
        <li><a href="">
            <i class="fas fa-user"></i>
            <span class="nav-item">Commandes</span>
        </a></li>
        <li><a href="">
            <i class="fas fa-tasks"></i>
            <span class="nav-item">Fournisseurs</span>
          </a></li>          
        <li><a href="">
            <i class="fas fa-user"></i>
            <span class="nav-item">Préstataires</span>
        </a></li>
        <li><a href="">
            <i class="fas fa-tasks"></i>
            <span class="nav-item">Providers</span>
          </a></li>          
        <li><a href="">
            <i class="fas fa-user"></i>
            <span class="nav-item">Transporteurs</span>
        </a></li>
        <li><a href="">
            <i class="fas fa-tasks"></i>
            <span class="nav-item">Suppliers</span>
          </a></li>     
        </div>
        <br>
        <div class="">    
        <li><a href="">
            <i class="fas fa-user"></i>
            <span class="nav-item1">DOCUMENTS</span>
        </a></li>
        <li><a href="">
            <i class="fas fa-tasks"></i>
            <span class="nav-item">Contracts</span>
          </a></li>          
        <li><a href="">
            <i class="fas fa-user"></i>
            <span class="nav-item">Facteurs</span>
        </a></li>
        <li><a href="">
            <i class="fas fa-tasks"></i>
            <span class="nav-item">Devis</span>
          </a></li>   
        </div> 
      </div>       
    </ul>
    
</nav>
