<nav>
    <ul>
        <li><a href="#" class="logo">
            <img src="/assets/images/NortisLogo.png" alt="">
        </a></li>
        <li><a href="#">
            <i class="fas fa-cog"></i>
            <span class="nav-item">OPERATIONS</span>
        </a></li>
        <li><a href="#">
            <i class="fas fa-home"></i>
            <span class="nav-item">Entreprises</span>
        </a></li>
        <li><a href="">
            <i class="fas fa-user-tag"></i>
            <span class="nav-item">Section</span>
          </a></li>
        <li><a href="">
            <i class="fas fa-user"></i>
            <span class="nav-item">Clients</span>
        </a></li>
        <li><a href="">
            <i class="fas fa-tasks"></i>
            <span class="nav-item">Pro Ticktets</span>
          </a></li>          
    </ul>
</nav>
