@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");

.head {
    width: 100%;
    z-index : 1;
    margin-right: 15%;
    display: flex;
    height: 100px;
    border-radius: 0px;
    background-color: rgb(255, 255,  255);
    text-align: center;
    color:#ccc;;
    border: 1px solid;
    align-items: center;
    justify-content: space-between;
   
    
   
  }
  .btn{
    width: 25%;
    min-width: fit-content;
    border-radius: 5px;   
    background-color: #7c0172;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 30px;
    padding: 0px 30px;
    margin-bottom: 20px; 
    border-radius: 10px;
    margin: 8px 0;
    height:  50px;
    margin-left: 50px ;
    padding-right: 40px;
    display: flex;
    align-items: center;
}
  .btn1{
    display: flex;
    align-items: center;
    width: 25%;
    min-width: fit-content;
    border-radius: 5px;   
    background-color: #6d2dcd;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 30px;
    padding: 0px 30px;
    margin-bottom: 20px; 
    border-radius: 10px;
    margin: 8px 0;
    height:  50px;
    margin-left: 30px ;
    padding-right: 40px;
    display: flex;
    text-align: center;
    align-items: center;
}
.title{
  margin-left: -17%;
  display: flex; 
  align-items: center; 
}
.title .projet {
  
  margin-left: 10px;
}

.title1 {
  display: flex;
  align-items: center;
  align-items: flex-start;
}

.title1 .fas {
  margin-right: 10px; 
}


.ligne-ville{
  
  width: 432px;
  margin: 10px;
  height: 297px;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
 
}
.title2{
    margin-left: -8%;
    display: flex; 
    align-items: center; 
}
.title2 .ligne-ville{
  margin-left: 10px;
}
.btn2{
  display: flex;
  
}


.bn{
  display: flex;
  justify-content: space-between;

}


i{
    margin-left: 0px;
  }

.bnt-voir{
    display: flex;
    align-items: center;
    width: 25%;
    min-width: fit-content;
    border-radius: 5px;   
    background-color: #6d2dcd;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 30px;
    padding: 0px 30px;
    margin-bottom: 20px; 
    border-radius: 10px;
    margin: 10px 0;
    height:  50px;
    margin-left: 10px ;
    padding-right: 40px;
    text-align: center;
    align-items: center;
}
i{
  padding-left: 3em;
  

}
.btn_icon{
  display: flex;
  align-items: center;
}
.all-card{
    display: flex;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;    
}
.card-grid{
  display: flex;
}
.card{
  display: flex;
  width: 265px;
  margin: 10px;
  height: 159px;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  
}
.right-cards{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-direction: column;
}
.cardright{
 display: flex;
  width: 92%;
  margin: 10px;
  height: 62px;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.client-type{ 
    width: 468px;
    margin: 10px;
    height: 517px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.type-c{
  display: flex;
  width: 330px;
  float: left;
  margin: 10px auto;
  height: 510px;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;    
}

  


.mois-p{
 
  width: 790px;
  float: left;
  margin: 10px auto;
  height: 510px;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;    
}
.ligne-ville{

}
.ville{
  display: flex;
    width: 429px;
    margin: 10px;
    height: 279px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-between;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.etat-stock{
  
  width: 850px;
  margin: 10px;
  height: 289px;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
 
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  

}
.stock{
  display: flex;
  height: fit-content;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.title6{
    margin-left: -2%;
    display: flex;
    align-items: center;
}
.icon-right{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}
.l1{
  display: flex;
  justify-content: space-between;


}
.l2{
  display: flex;
  justify-content: space-between;

}
.l{
  display: flex;
  justify-content: space-between;
  
}
.r{
  display: flex;
  justify-content: space-between;
  
}
.im3{
  /*background-image:url('http://localhost:4200/assets/images/im3.png') ;*/
  width: 102%;
  height: 419px;
  position: relative;
  background-size: cover;
  padding: 5px;
  top: 42%;

}
.im4{
    width: 103%;
    height: 441px;
    position: relative;
    background-size: cover;
    padding: 10px;
    top: 20%;

}

.im2{
  width: 100%;
  height: 205px;
  position: relative;
  background-size: cover;
  top: 0%;

}
.im1{
  width: 100%;
  height: 249px;
  position: relative;
  background-size: cover;
  

}
.head1{
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  flex-direction: row;
  margin-left: 0%;
}
.head3{
    display: flex;
     height: fit-content;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.title3{
  margin-left: -2%;
  display: flex; 
  align-items: center; 
}


.head4{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.imm{
  width: 21%;
  height: 12%;
}
.num{
  display: flex;
  justify-content: space-between;
}
.btn3{
  display: flex;
  justify-content: space-between;

}
.num1{
  display: flex;
}
.num2{
  display: flex;
}
h4{
  font-size: 15px;
}
h3{
 font-size: 10px;
 margin-right: 80px;
}
h2{
  font-size: 15px;
}
.en-cours{
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  flex-direction: row;
}
.num1{
  display: flex;
}
h1{
font-size: 10px;
}
.body{
  padding: 13px;
}
.head5{
  display: flex;
    height: fit-content;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.title5{
  margin-left: -2%;
  display: flex;
  align-items: center;

}
.btn5{
  display: flex;
    justify-content: space-between;
}
.B1{
  display: flex;
}
.B2{
  display: flex;
}
.B3{
  display: flex;
}
.B4{
  display: flex;
}
.mini-card{
  display: flex;
}
.right-cards{
  display: flex;
}


  
  
  
 
  