<div class="header">
  <div class="head">
    <div class="">
      <button class="btn">Crée projet</button>
    </div>
    <div class="btn_icon">
      <div>
        <button class="btn1">Mon équipe</button>
      </div>
      <div class="icons">
        <i class="fas fa-calendar"></i>
        <i class="fas fa-flag"></i>
        <i class="fas fa-envelope"></i>
        <i class="fas fa-bell"></i>
        <i class="fas fa-flag"></i>
        <i class="fas fa-user"></i>
        <i class="fas fa-list-check"></i>
      </div>
    </div>
  </div>
  <div class="all-card">

    <div class="">
      <div class="card-grid">
        <div class="card">
          <div class="head1">
            <span class="projet">Les Projets</span>
            <div class="num">
              <h4>88</h4>
            </div>
          </div>
          <div class="body">
            <div class="en-cours">
              <h3> EN COURS </h3>
              <div class="num1">
                <h1>22</h1>
              </div>
            </div>

            <div class="en-cours">
              <h3> ACTIVE </h3>
              <div class="num1">
                <h1>22</h1>
              </div>
            </div>
            <div class="en-cours">
              <h3> EN ATTENTE </h3>
              <div class="num1">
                <h1>22</h1>
              </div>
            </div>
            <div class="en-cours">
              <h3> EFFECTUE </h3>
              <div class="num1">
                <h1>22</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="head1">
            <span class="projet">Les Projets</span>
            <div class="num">
              <h4>88</h4>
            </div>
          </div>
          <div class="body">
            <div class="en-cours">
              <h3> EN COURS </h3>
              <div class="num1">
                <h1>22</h1>
              </div>
            </div>
            <div class="en-cours">
              <h3> ACTIVE </h3>
              <div class="num1">
                <h1>22</h1>
              </div>
            </div>
            <div class="en-cours">
              <h3> EN ATTENTE </h3>
              <div class="num1">
                <h1>22</h1>
              </div>
            </div>
            <div class="en-cours">
              <h3> EFFECTUE </h3>
              <div class="num1">
                <h1>22</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="head1">
            <span class="projet">Les Projets</span>
            <div class="num">
              <h4>88</h4>
            </div>
          </div>
          <div class="body">
            <div class="en-cours">
              <h3> EN COURS </h3>
              <div class="num1">
                <h1>22</h1>
              </div>
            </div>
            <div class="en-cours">
              <h3> ACTIVE </h3>
              <div class="num1">
                <h1>22</h1>
              </div>
            </div>
            <div class="en-cours">
              <h3> EN ATTENTE </h3>
              <div class="num1">
                <h1>22</h1>
              </div>
            </div>
            <div class="en-cours">
              <h3> EFFECTUE </h3>
              <div class="num1">
                <h1>22</h1>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="head1">
            <span class="projet">Les Projets</span>
            <div class="num">
              <h4>88</h4>
            </div>
          </div>
          <div class="body">
            <div class="en-cours">
              <h3> EN COURS </h3>
              <div class="num1">
                <h1>22</h1>
              </div>
            </div>
            <div class="en-cours">
              <h3> ACTIVE </h3>
              <div class="num1">
                <h1>22</h1>
              </div>
            </div>
            <div class="en-cours">
              <h3> EN ATTENTE </h3>
              <div class="num1">
                <h1>22</h1>
              </div>
            </div>
            <div class="en-cours">
              <h3> EFFECTUE </h3>
              <div class="num1">
                <h1>22</h1>
              </div>
            </div>
          </div>

        </div>


      </div>
      <div class="centre-card">
      <div class="l">
        <div class="projet-mois">
          <div class="mois-p">
            <span class="mois">Projets par mois</span>
            <div class="">
              <button class="bnt-voir">Voir</button>
            </div>
          </div>
        </div>
        <div class="r">
          <div class="client-type">
            <div class="type-c">
              <span class="mois">Client par type</span>
              <div class="">
                <button class="bnt-voir">Voir</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
   
      <div class="right-cards">
        <div class="cardright">
          <div class="head2">
            <span class="projet">Les Projets</span>
            <div class="num">
              <h4>88</h4>
            </div>
          </div>
        </div>
        <div class="cardright">
          <div class="head2">
            <span class="projet">Immobilisations</span>
            <div class="num">
              <h4>88</h4>
            </div>
          </div>
        </div>
        <div class="cardright">
          <div class="head2">
            <span class="projet">Warehouses</span>
            <div class="num">
              <h4>88</h4>
            </div>
          </div>
        </div>
        <div class="cardright">
          <div class="head2">
            <span class="projet">Fournisseurs</span>
            <div class="num">
              <h4>88</h4>
            </div>
          </div>
        </div>
        <div class="cardright">
          <div class="head2">
            <span class="projet">Prestataires</span>
            <div class="num">
              <h4>88</h4>
            </div>
          </div>
        </div>
        <div class="cardright">
          <div class="head2">
            <span class="projet">Providers</span>
            <div class="num">
              <h4>88</h4>
            </div>
          </div>
        </div>
        <div class="cardright">
          <div class="head2">
            <span class="projet">Transporteurs</span>
            <div class="num">
              <h4>88</h4>
            </div>
          </div>
        </div>
        <div class="cardright">
          <div class="head2">
            <span class="projet">Suppliers</span>
            <div class="num">
              <h4>88</h4>
            </div>
          </div>
        </div>
        <div class="cardright">
          <div class="head2">
            <span class="projet">Documents</span>
            <div class="num">
              <h4>88</h4>
            </div>
          </div>
        </div>
      </div>
     


    </div>
    <div class="last-card">
    <div class="l1">
    <div class="etat-stock">
      <div class="stock">
        <span class="stock-e">Etat des stocks</span>
        <div class="">
          <button class="bnt-voir">Voir</button>
        </div>
      </div>
    </div>
    <div class="l2">
      <div class="ligne-ville">
        <div class="ville">
          <span class="ville-l">Lignes par ville</span>
          <div class="">
            <button class="bnt-voir">Voir</button>
          </div>
        </div>
      </div>
    </div>
  </div> 
    <div>

  </div>